# -----------------------------------------------------------------------------
# Omezeni pripon souboru pro verzovani projektu KEO
# -----------------------------------------------------------------------------
#vse globalne zakazano:
*.*

# -----------------------------------------------------------------------------
# Povolene soubory
# -----------------------------------------------------------------------------
# gitingnore list
!*.gitignore

# dokumentace
!*.txt
!*.pdf
!*.doc
!*.docx
!*.md
!*.tex
!*.xls
!*.xlsx
!*.cls
!*.odg

# obrazky
!*.png
!*.jpg
!*.bmp
!*.jpeg

# slovniky
!*.dic
!*.aff

# simulace
!*.sch
!*.circ
!*.asc


# assembly
!*s.asm